
.body {
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
  }


  

  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
  }

  .btn:hover {
    background-color: #45a049; /* Dark Green */
  }

  .delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }

  .delete-btn:hover {
    background-color: #d32f2f;
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #74a9a3;
  }

  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  @media (max-width: 768px) {
    table {
      overflow-x: auto;
    }
  }

  /* Styling for small screens */
  @media (max-width: 576px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      margin-bottom: 15px;
    }

    td {
      border: none;
      border-bottom: 1px solid #ddd;
      position: relative;
      padding-left: 50%;
    }

    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }

    /* Label the data */
    td:nth-of-type(1):before { content: "UserId"; }
    td:nth-of-type(2):before { content: "Name"; }
    td:nth-of-type(3):before { content: "Price"; }
    td:nth-of-type(4):before { content: "Company"; }
    td:nth-of-type(5):before { content: "Category"; }
    td:nth-of-type(6):before { content: "Action"; }

    .delete-btn {
        margin-top: 5px;
      }

      .btn {
        margin-top: 5px;
        width: 100%;
      }
  }